
.regform{
    font-size: 17px;
    color: #fff;
    box-sizing: border-box;
    background-color: rgb(54, 114, 54);
    width: 500px auto;
    margin-top: 10%;
    margin-left: 10%;
    padding: 50px 40px;
    transform: translate(-50% -50%);
    border-radius: 30px;
}
.regform p{
    font-weight: bold;
    font-size: 20px;
}
h1{
    padding: 5px 10px;
}
.person{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: calc(40%);
    position: relative;
    top: -10%;
}
.regform input[type="submit"]:hover{
    background-color: transparent;
    border: 2px solid #fb2525;
    cursor: pointer;
}
a:hover{
    background-color: aqua;

}
.regform input[type="submit"]{
    outline: none;
    background: #fb2525;
    height: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 20px;
    position: relative;
    width: 20%;
    text-align: center;

}
a{
    color: grey;
    font-size: 12px;
    top: 20px;
}
